.form-control {
  margin: 0.5rem 0;
}

.form-control label {
  display: block;
}

.form-control input {
  display: block;
  border: 1px solid #ccc;
}

.form-control input:focus {
  outline: none;
  background: #fad0ec;
  border-color: #8b005d;
}

.form-control.invalid input {
  border-color: red;
}

.form-control.invalid label {
  color: red;
}
